@import 'generic/_box-sizing.css';
@import 'generic/_resets.css';

.base-button {
  border: 2px solid;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 3px;
  background-color: transparent;
}


.button--primary {
  color: var(--salmon);
  border-color: var(--salmon);
  transition: background-color 0.5s;
}

.button--primary:hover {
  background-color: var(--salmon);
  color: var(--bg-default-color)
}

.button--primary:focus {
  border-color: var(--dark-salmon);
  background-color: var(--dark-salmon);
  color: var(--bg-default-color)
}

.button--secondary {
  color: var(--dark-grey);
  border-color: var(--dark-grey);
  border-radius: 10px;
  transition: background-color 1s;
}

.button--secondary:hover {
  background-color: var(--grey);
  color: var(--bg-default-color)
}

.button--secondary:focus {
  border-color: var(--dark-grey);
  background-color: var(--dark-grey);
  color: var(--bg-default-color)
}
